<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Concierge_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Concierge_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="conciergeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=concierge&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
        <Concierge_Manager.Properties.Settings>
              <setting name="web" serializeAs="String">
                    <value>$(ProjectPath)\web</value>
              </setting>
              <setting name="ProjectDir" serializeAs="String">
                    <value>$(ProjectDir)</value>
              </setting>
        </Concierge_Manager.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <Concierge_Manager.Properties.Settings>
      <setting name="Concierge" serializeAs="String">
        <value>z:\develop\concierge</value>
      </setting>
    </Concierge_Manager.Properties.Settings>
  </userSettings>
</configuration>
